THEFT_API_APP_NAME=Theft Detection API
THEFT_API_APP_VERSION=0.1.0
THEFT_API_DEBUG=false
THEFT_API_TRANSACTIONAL_DATABASE_URL=mysql+pymysql://theft_api:change_me@host.docker.internal:3306/sesamedb
THEFT_API_VECTOR_DATABASE_URL=postgresql+psycopg://postgres:postgres@host.docker.internal:5432/theft_detection_gallery
THEFT_API_PYTHON_BIN=python
THEFT_API_VIDEO_STORAGE_DIR=/app/session
